<div>
    <div class="container">
        <div class="row top10">
            <h2>Select user:</h2>
            <div class='col-xs-3'>
                <label for="users">Choose user</label>
                <select class="form-control" id="users" ng-model="selectedClient" ng-options="x as (x.name +                   ' ' +                   x.surname +                   ' ' +                   x.country.countryName) for x in clients"></select>
            </div>
        </div>
        <div class="row top17">
            <div class='col-xs-3'>
                <label>Loan: </label>
                <input type="text" ng-model="loan">
            </div>
        </div>
        <div class="row top10">
            <div class='col-xs-3'>
                <label>Term: </label>
                <input type="text" ng-model="term">
            </div>
        </div>
        <div class="row top10">
            <button class="btn btn-default top10" ng-click="addNewLoan()" ng-enter="addNewLoan()">Add loan</button>
        </div>
    </div>
</div>
