<div>
    <form class="container">
        <div class="row">
            <h2>Add limit:</h2>
            <div class='col-xs-3'>
                <label for="dropcountry">Choose country</label>
                <select class="form-control" id="dropcountry" ng-model="selectedCountry" ng-options="x.countryName for x in countries">
                </select>
            </div>
        </div>
        <div class="row top10">
            <div class='col-xs-3'>
                <label for="starttime">Start day:</label>
                <div class="input-group" moment-picker="startTime.start" format="YYYY-MM-DD">
                    <span class="input-group-addon"> <i class="octicon octicon-calendar"></i> </span> 
                    <input class="form-control" placeholder="Select a date" id="starttime" ng-model="startTime.start" ng-model-options="{updateOn: 'blur'}">
                </div>
            </div>
            <div class='col-xs-3'>
                <label for="starttime2">Start time:</label>
                <div class="input-group" moment-picker="startTime.end" format="HH:mm">
                    <span class="input-group-addon"> <i class="octicon octicon-clock"></i> </span>
                    <input class="form-control" placeholder="Select a time" id="starttime" ng-model="startTime.end" ng-model-options="{updateOn: 'blur'}"> 
                </div>
            </div>
        </div>
        <div class="row top10">
            <div class='col-xs-3'>
                <label for="endtime">End day:</label>
                <div class="input-group" moment-picker="endTime.start" format="YYYY-MM-DD">
                    <span class="input-group-addon"> <i class="octicon octicon-calendar"></i> </span> 
                    <input class="form-control" placeholder="Select a date" id="endtime" ng-model="endTime.start" ng-model-options="{updateOn: 'blur'}">
                </div>
            </div>
            <div class='col-xs-3'>
                <label for="endtime2">End time:</label>
                <div class="input-group" moment-picker="endTime.end" format="HH:mm">
                    <span class="input-group-addon"> <i class="octicon octicon-clock"></i> </span>
                    <input class="form-control" id="endtime2" placeholder="Select a time" ng-model="endTime.end" ng-model-options="{updateOn: 'blur'}"> 
                </div>
            </div>
        </div>
        <div class="row top10">
            <div class="col-xs-2">
                <label for="loancount">Loan limit count:</label>
                <input type="text" id="loancount" class="form-control" placeholder="Enter loan limit" ng-model="loanCount">
                <button class="btn btn-default top10" ng-click="addLoanLimit()" ng-enter="addLoanLimit()">Add limit</button>
            </div>
        </div>
    </form>
</div>



