<div class="container top10">
    <div class="row">
        <button type="button" class="btn btn-default btn-lg btn-block top10" ng-click="menuItemClick('loans')">Show all loans</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default btn-lg btn-block top10" ng-click="menuItemClick('clients')" >Show all clients</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default btn-lg btn-block top10" ng-click="menuItemClick('loanByUser')" >Show loan by client</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default btn-lg btn-block top10" ng-click="menuItemClick('addClient')" >Add client</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default btn-lg btn-block top10" ng-click="menuItemClick('addLoan')" >Add loan</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default btn-lg btn-block top10" ng-click="menuItemClick('addBlacklist')" >Add client to blacklist</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default btn-lg btn-block top10" ng-click="menuItemClick('country')" >Add country, add to blacklist by country</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default btn-lg btn-block top10" ng-click="menuItemClick('countryLoanLimit')" >Add loan limit for country</button>
    </div>
</div>
